<!--Start Menu-->
<nav>
    <div class="menu_con">
        <div class="menu">
            <ul>
                {% for item in menu %}
                    <li>
                        <a id="a{{ loop.index }}" href="javascript:void(0);" onClick="opensesame('d{{ loop.index }}', 'a{{ loop.index }}');">
                            {{item.title}}</a>
                    </li>
                {% endfor %}
            </ul>
            <div class="spacer"></div>
        </div>
        <div class="submenu_con" id="maincontainer">
            {% for item in menu %}
                <div class="submenu abc" id="d{{ loop.index }}">
                    <div class="submenu_top">
                        {% if item.get_children %}
                            {% include "base/header/menu_level2.twig" with { 'menu': item.get_children } %}
                        {% endif %}
                        <div class="spacer"></div>
                    </div>
                    <div class="submenu_bottom"><a href="javascript:void(0);" onClick="closesesame();"><img src="{{ img_url }}/images/menu_close_arrow.png" alt="Close Computer Recycling Services Menu"  /></a></div>
                </div>
            {% endfor %}
        </div>
    </div>
</nav>
<!--End menu-->