<div class="index_body_top">
    {% for post in home_img_posts|reverse %}
        <div class="index_body_topbox">
            <div class="index_body_topbox_in">
                {% if  post.thumbnail.src %}
                    <a href="{{ post.link }}">
                        <img src="{{ post.thumbnail.src|resize(244, 80) }}" alt="{{ post.title }}">
                    </a>
                {% endif %}
                <h2><a href="{{ post.link }}">{{ post.title }}</a></h2>

                <p>{{ post.get_field('short_description') }}</p>
                {% if post.get_field('text_for_linc') %}
                    <h3><a href="{{ post.link }}"><p>{{ post.get_field('text_for_linc') }}</a></h3>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    <div class="spacer"></div>
</div>