<div class="bdy_spon_logo_con">
    <div class="bdy_spon_logo">
        <h3>Featured Clients</h3>
        <ul>
            <li><a href="#"><img src="{{ img_url }}/images/logos/TUV_Logo.jpg" alt="" /></a></li>
            <li><a href="#"><img src="{{ img_url }}/images/logos/leapfrog_logo.jpg" alt="" /></a></li>
            <li><a href="#"><img src="{{ img_url }}/images/logos/KJ_Logo.png" alt="" /></a></li>
            <li><a href="#"><img src="{{ img_url }}/images/logos/Cafe_Press_Logo.png" alt="" /></a></li>
            <li><a href="#"><img src="{{ img_url }}/images/logos/Crown_Castle_logo.gif" alt="" /></a></li>
            <li><a href="#"><img src="{{ img_url }}/images/logos/Nor-Cal_Moving_Logo.jpg" alt="" /></a></li>
            <li><a href="#"><img src="{{ img_url }}/images/logos/ecalogo.gif" alt="" /></a></li>
            <li><a href="#"><img src="{{ img_url }}/images/logos/tesla-logo.jpg" alt="" /></a></li>
            <li><a href="#"><img src="{{ img_url }}/images/logos/Actiance_logo.png" alt="" /></a></li>
        </ul>
        <div class="spacer"></div>
    </div>
</div>