<div class="slicknav_menu"><a style="outline: medium none;" href="#" aria-haspopup="true" tabindex="0" class="slicknav_btn slicknav_collapsed"><span class="slicknav_menutxt"></span><span class="slicknav_icon slicknav_no-text"><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span></span></a><div role="menu" aria-hidden="true" style="display: none;" class="slicknav_nav slicknav_hidden">
		<ul>
			<li class="slicknav_collapsed slicknav_parent">
				<a style="outline: medium none;" href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item"><a href="http://www.computerrecyclingsf.com/services.html">Services</a>
					<span class="slicknav_arrow"><img src="{{ url_img }}/right-side-arrow.png" alt=" "></span></a><ul aria-hidden="true" style="display: none;" class="slicknav_hidden" role="menu">
					<li><a tabindex="-1" role="menuitem" href="http://www.computerrecyclingsf.com/services.html"><strong>End-of-Life Technology Management Services</strong></a></li>
					<li><a tabindex="-1" role="menuitem" href="http://www.computerrecyclingsf.com/services/e-waste-recycling-sf-bay.html"><strong>E-Waste Recycling</strong></a></li>
					<li><a tabindex="-1" role="menuitem" href="http://www.computerrecyclingsf.com/services/it-asset-disposition-sf-bay.html"><strong>IT Asset Disposition</strong></a></li>
					<li><a tabindex="-1" role="menuitem" href="http://www.computerrecyclingsf.com/services/digital-data-destruction-sf-bay.html"><strong>Digital Data Destruction</strong></a></li>
					<li><a tabindex="-1" role="menuitem" href="http://www.computerrecyclingsf.com/data-destruction/on-site-sf-bay.html"><strong>On-site Data Destruction</strong></a></li>
					<li><a tabindex="-1" role="menuitem" href="http://www.computerrecyclingsf.com/services/it-asset-recovery-remarketing-sf-bay.html"><strong>IT Asset Recovery</strong></a></li>
					<li><a tabindex="-1" role="menuitem" href="http://www.computerrecyclingsf.com/services/it-asset-recovery-remarketing-sf-bay.html"><strong>IT Asset Remarketing</strong></a></li>
					<li><a tabindex="-1" role="menuitem" href="http://www.computerrecyclingsf.com/it-asset-disposition/lease-returns-sf-bay.html"><strong>IT Asset Lease Returns</strong></a></li>
					<li><a tabindex="-1" role="menuitem" href="http://www.computerrecyclingsf.com/it-asset-disposition/evaluation-sf-bay.html"><strong>IT Asset Evaluation</strong></a></li>
					<li><a tabindex="-1" role="menuitem" href="http://www.computerrecyclingsf.com/electronics-recycling/e-waste-purchasing.html"><strong>E-Scrap Purchasing</strong></a></li>
				</ul>
			</li>
			<li class="slicknav_collapsed slicknav_parent">
				<a style="outline: medium none;" href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item"><a href="http://www.computerrecyclingsf.com/solutions.html">Solutions</a>
					<span class="slicknav_arrow"><img src="{{ url_img }}/right-side-arrow.png" alt=" "></span></a><ul aria-hidden="true" style="display: none;" class="slicknav_hidden" role="menu">
					<li><a tabindex="-1" role="menuitem" href="http://www.computerrecyclingsf.com/solutions.html"><strong>Business Solutions by Type</strong></a></li>
					<li><a tabindex="-1" role="menuitem" href="http://www.computerrecyclingsf.com/solutions/corporate-electronics-recycling.html"><strong>Enterprises &amp; Corporations</strong></a></li>
					<li><a tabindex="-1" role="menuitem" href="http://www.computerrecyclingsf.com/solutions/municipality-electronics-recycling.html"><strong>Government &amp; Municipalities</strong></a></li>
					<li><a tabindex="-1" role="menuitem" href="http://www.computerrecyclingsf.com/solutions/non-profit-electronics-recycling.html"><strong>Nonprofit Organizations</strong></a></li>
					<li><a tabindex="-1" role="menuitem" href="http://www.computerrecyclingsf.com/solutions/manufacturer-electronics-recycling.html"><strong>OEM Manufacturers</strong></a></li>
					<li><a tabindex="-1" role="menuitem" href="http://www.computerrecyclingsf.com/solutions/small-business-electronics-recycling.html"><strong>Small Businesses</strong></a></li>
				</ul>
			</li>
			<li class="slicknav_collapsed slicknav_parent"><a style="outline: medium none;" href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item"><a href="http://www.computerrecyclingsf.com/process.html">Our Process</a>
					<span class="slicknav_arrow"><img src="{{ url_img }}/right-side-arrow.png" alt=" "></span></a><ul aria-hidden="true" style="display: none;" class="slicknav_hidden" role="menu">
					<li><a tabindex="-1" role="menuitem" href="http://www.computerrecyclingsf.com/process.html"><strong>End-of-Life Technology Management Process</strong></a></li>
					<li><a tabindex="-1" role="menuitem" href="http://www.computerrecyclingsf.com/process/asset-auditing-reporting.html"><strong>Auditing &amp; Reporting</strong></a></li>
					<li><a tabindex="-1" role="menuitem" href="http://www.computerrecyclingsf.com/process/reverse-logistics.html"><strong>Reverse Logistics</strong></a></li>
					<li><a tabindex="-1" role="menuitem" href="http://www.computerrecyclingsf.com/process/chain-of-custody.html"><strong>Chain of Custody</strong></a></li>
					<li><a tabindex="-1" role="menuitem" href="http://www.computerrecyclingsf.com/process/risk-management.html"><strong>Risk Management</strong></a></li>
					<li><a tabindex="-1" role="menuitem" href="http://www.computerrecyclingsf.com/process/faqs.html"><strong>Frequently Asked Questions</strong></a></li>
					<li><a tabindex="-1" role="menuitem" href="http://www.computerrecyclingsf.com/process/where-does-our-e-waste-go.html"><strong>Where does our e-waste go</strong></a></li>
				</ul>
			</li>
			<li class="slicknav_collapsed slicknav_parent"><a style="outline: medium none;" href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item"><a href="http://www.computerrecyclingsf.com/compliance.html">Compliance</a>
					<span class="slicknav_arrow"><img src="{{ url_img }}/right-side-arrow.png" alt=" "></span></a><ul aria-hidden="true" style="display: none;" class="slicknav_hidden" role="menu">
					<li><a tabindex="-1" role="menuitem" href="http://www.computerrecyclingsf.com/compliance.html"><strong>Environmental Compliance</strong></a>
					</li><li><a tabindex="-1" role="menuitem" href="http://www.computerrecyclingsf.com/compliance/certifications.html"><strong>Certifications &amp; Affiliations</strong></a></li>
					<li><a tabindex="-1" role="menuitem" href="http://www.computerrecyclingsf.com/compliance/liability-protection.html"><strong>Liability Protection</strong></a></li>
					<li><a tabindex="-1" role="menuitem" href="http://www.computerrecyclingsf.com/compliance/responsible-e-waste-recycler.html"><strong>Responsible e-Waste Recycler</strong></a></li>
					<li><a tabindex="-1" role="menuitem" href="http://www.computerrecyclingsf.com/compliance/e-waste-concerns.html"><strong>E-Waste Concerns</strong></a></li>
				</ul>
			</li>
			<li class="slicknav_collapsed slicknav_parent"><a style="outline: medium none;" href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item"><a href="http://www.computerrecyclingsf.com/e-recycling-company-san-francisco-bay.html">About Us</a>
					<span class="slicknav_arrow"><img src="{{ url_img }}/right-side-arrow.png" alt=" "></span></a><ul aria-hidden="true" style="display: none;" class="slicknav_hidden" role="menu">
					<li><a tabindex="-1" role="menuitem" href="http://www.computerrecyclingsf.com/e-recycling-company-san-francisco-bay.html"><strong>Company Overview</strong></a>
					</li><li><a tabindex="-1" role="menuitem" href="http://www.computerrecyclingsf.com/e-recycling/why-to-choose-us.html" rel="nofollow"><strong>Why to Choose Us</strong></a></li>
					<li><a tabindex="-1" role="menuitem" href="http://www.computerrecyclingsf.com/e-recycling/contact-us.html" rel="nofollow"><strong>Contact Us</strong></a></li>
				</ul>
			</li>
		</ul>
	</div></div>
<div class="menu_con">
	<div class="menu">
		<ul>
			<li><a class="" id="a1" href="javascript:void(0);" onclick="opensesame('d1', 'a1');">Services</a></li>
			<li><a class="" id="a2" href="javascript:void(0);" onclick="opensesame('d2', 'a2');">Solutions</a></li>
			<li><a class="" id="a4" href="javascript:void(0);" onclick="opensesame('d4', 'a4');">Our Process</a></li>
			<li><a class="active" id="a5" href="javascript:void(0);" onclick="opensesame('d5', 'a5');">Compliance</a></li>
			<li><a class="" id="a7" href="javascript:void(0);" onclick="opensesame('d7', 'a7');">About Us</a></li>
		</ul>
		<div class="spacer"></div>
	</div>
	<div style="display: block;" class="submenu_con" id="maincontainer">
		<div style="display: none;" class="submenu abc" id="d1">
			<div class="submenu_top">
				<div class="submenu_top_box">
					<h2><a href="http://www.computerrecyclingsf.com/services/e-waste-recycling-sf-bay.html">E-Waste Recycling</a></h2>
					<ul>
						<li><a href="http://www.computerrecyclingsf.com/e-recycling/e-waste-recycling-process-sf-bay.html">E-Waste Recycling Process</a></li>
						<li><a href="http://www.computerrecyclingsf.com/e-recycling/responsible-e-waste-recycling-company-sf-bay.html">Responsible Recycling</a></li>
						<li><a href="http://www.computerrecyclingsf.com/e-recycling/e-waste-purchasing-sf-bay.html">E-scrap Purchasing</a></li>
						<li><a href="http://www.computerrecyclingsf.com/e-recycling/choosing-e-waste-recycler-sf-bay.html">Choosing a Recycler</a></li>
						<li><a href="http://www.computerrecyclingsf.com/e-recycling/e-waste-pickup-request-sf-bay.html">E-Waste Pickup Request</a></li>
					</ul>
				</div>
				<div class="submenu_top_box">
					<h2><a href="http://www.computerrecyclingsf.com/services/it-asset-disposition-sf-bay.html">IT Asset Disposition</a></h2><a href="http://www.computerrecyclingsf.com/services/it-asset-disposition-sf-bay.html">
					</a><ul><a href="http://www.computerrecyclingsf.com/services/it-asset-disposition-sf-bay.html">
						</a><li><a href="http://www.computerrecyclingsf.com/services/it-asset-disposition-sf-bay.html"></a><a href="http://www.computerrecyclingsf.com/it-asset-disposition/itad-process-sf-bay.html"> Certified ITAD Process</a></li>
						<li><a href="http://www.computerrecyclingsf.com/it-asset-disposition/itad-processing-sf-bay.html"> ITAD Processing &amp; Recycling</a></li>
						<li><a href="http://www.computerrecyclingsf.com/services/it-asset-recovery-remarketing-sf-bay.html">IT Asset Recovery</a></li>
						<li><a href="http://www.computerrecyclingsf.com/it-asset-disposition/lease-returns-sf-bay.html">Lease Returns</a></li>
						<li><a href="http://www.computerrecyclingsf.com/it-asset-disposition/evaluation-sf-bay.html">IT Asset Evaluation Request</a></li>
					</ul>
				</div>
				<div class="submenu_top_box">
					<h2><a href="http://www.computerrecyclingsf.com/services/digital-data-destruction-sf-bay.html">Digital Data Destruction</a></h2><a href="http://www.computerrecyclingsf.com/services/digital-data-destruction-sf-bay.html">
					</a><ul><a href="http://www.computerrecyclingsf.com/services/digital-data-destruction-sf-bay.html">
						</a><li><a href="http://www.computerrecyclingsf.com/services/digital-data-destruction-sf-bay.html"></a><a href="http://www.computerrecyclingsf.com/data-destruction/process-sf-bay.html">Data Destruction Process</a></li>
						<li><a href="http://www.computerrecyclingsf.com/data-destruction/methods.html">Data Destruction Methods</a></li>
						<li><a href="http://www.computerrecyclingsf.com/data-destruction/on-site-sf-bay.html">On-site Data Destruction</a></li>
						<li><a href="http://www.computerrecyclingsf.com/data-destruction/data-erasure-sf-bay.html">Data Erasure Services</a></li>
						<li><a href="http://www.computerrecyclingsf.com/data-destruction/degaussing-sf-bay.html">Data Degaussing</a></li>
					</ul>
				</div>
				<div class="spacer"></div>
			</div>
			<div class="submenu_bottom"><a href="javascript:void(0);" onclick="closesesame();"><img src="{{ url_img }}/menu_close_arrow.png" alt="Close Computer Recycling Services Menu"></a></div>
		</div>
		<div style="display: none;" class="submenu abc" id="d2">
			<div class="submenu_top">
				<div class="submenu_top_box">
					<h2><a href="http://www.computerrecyclingsf.com/solutions.html">Business Solutions by Type</a></h2><a href="http://www.computerrecyclingsf.com/solutions.html">
					</a><ul><a href="http://www.computerrecyclingsf.com/solutions.html">
						</a><li><a href="http://www.computerrecyclingsf.com/solutions.html"></a><a href="http://www.computerrecyclingsf.com/solutions/corporate-electronics-recycling-sf-bay.html">Corporations</a></li>
						<li><a href="http://www.computerrecyclingsf.com/solutions/municipality-electronics-recycling-sf-bay.html">Municipalities / Government</a></li>
						<li><a href="http://www.computerrecyclingsf.com/solutions/non-profit-electronics-recycling-sf-bay.html">Non-Profit Organizations</a></li>
						<li><a href="http://www.computerrecyclingsf.com/solutions/manufacturer-electronics-recycling-sf-bay.html">OEM Manufacturers</a></li>
						<li><a href="http://www.computerrecyclingsf.com/solutions/small-business-electronics-recycling-sf-bay.html">Small Businesses</a></li>
					</ul>
				</div>
				<div class="spacer"></div>
			</div>
			<div class="submenu_bottom"><a href="javascript:void(0);" onclick="closesesame();"><img src="{{ url_img }}/menu_close_arrow.png" alt="Close E-Recycling Solutions Menu"></a></div>
		</div>
		<div style="display: none;" class="submenu abc" id="d4">
			<div class="submenu_top">
				<div class="submenu_top_box">
					<h2><a href="http://www.computerrecyclingsf.com/process.html">Our Process</a></h2><a href="http://www.computerrecyclingsf.com/process.html">
					</a><ul><a href="http://www.computerrecyclingsf.com/process.html">
						</a><li><a href="http://www.computerrecyclingsf.com/process.html"></a><a href="http://www.computerrecyclingsf.com/process/asset-auditing-reporting.html">Auditing &amp; Reporting</a></li>
						<li><a href="http://www.computerrecyclingsf.com/process/reverse-logistics.html">Reverse Logistics</a></li>
						<li><a href="http://www.computerrecyclingsf.com/process/chain-of-custody.html">Chain of Custody</a></li>
						<li><a href="http://www.computerrecyclingsf.com/process/risk-management.html">Risk Management</a></li>
						<li><a href="http://www.computerrecyclingsf.com/process/where-does-our-e-waste-go.html">Where Does Our E-Waste Go</a></li>
						<li><a href="http://www.computerrecyclingsf.com/process/faqs.html">Frequently Asked Questions</a></li>
					</ul>
				</div>
				<div class="spacer"></div>
			</div>
			<div class="submenu_bottom"><a href="javascript:void(0);" onclick="closesesame();"><img src="{{ url_img }}/menu_close_arrow.png" alt="Close E-Recycling Process Menu"></a></div>
		</div>
		<div style="display: block;" class="submenu abc" id="d5">
			<div class="submenu_top">
				<div class="submenu_top_box">
					<h2><a href="http://www.computerrecyclingsf.com/compliance.html">Environmental Compliance</a></h2><a href="http://www.computerrecyclingsf.com/compliance.html">
					</a><ul><a href="http://www.computerrecyclingsf.com/compliance.html">
						</a><li><a href="http://www.computerrecyclingsf.com/compliance.html"></a><a href="http://www.computerrecyclingsf.com/compliance/certifications.html">Certifications &amp; Affiliations</a></li>
						<li><a href="http://www.computerrecyclingsf.com/compliance/liability-protection.html">Liability Protection</a></li>
						<li><a href="http://www.computerrecyclingsf.com/compliance/responsible-e-waste-recycler.html">Responsible e-Waste Recycler</a></li>
						<li><a href="http://www.computerrecyclingsf.com/compliance/e-waste-concerns.html">E-Waste Concerns</a></li>
					</ul>
				</div>
				<div class="spacer"></div>
			</div>
			<div class="submenu_bottom"><a href="javascript:void(0);" onclick="closesesame();"><img src="{{ url_img }}/menu_close_arrow.png" alt="Close E-Waste Environmental Compliance Menu"></a></div>
		</div>
		<div style="display: none;" class="submenu abc" id="d7">
			<div class="submenu_top">
				<div class="submenu_top_box">
					<h2><a href="http://www.computerrecyclingsf.com/e-recycling-company-san-francisco-bay.html">About Us</a></h2><a href="http://www.computerrecyclingsf.com/e-recycling-company-san-francisco-bay.html">
					</a><ul><a href="http://www.computerrecyclingsf.com/e-recycling-company-san-francisco-bay.html">
						</a><li><a href="http://www.computerrecyclingsf.com/e-recycling-company-san-francisco-bay.html"></a><a href="http://www.computerrecyclingsf.com/e-recycling/why-to-choose-us.html" rel="nofollow">Why to Choose NC</a></li>
						<li><a href="http://www.computerrecyclingsf.com/e-recycling/contact-us.html" rel="nofollow">Contact Us</a></li>
					</ul>
				</div>
				<div class="spacer"></div>
			</div>
			<div class="submenu_bottom"><a href="javascript:void(0);" onclick="closesesame();"><img src="{{ url_img }}/menu_close_arrow.png" alt=""></a></div>
		</div>
	</div>
</div>
{#
<ul>
{% for item in menu %}
	<li class="{{item.classes | join(' ')}}">
		<a href="{{item.get_link}}">{{item.title}}</a>
		{% include "menu.twig" with {'menu': item.get_children} %}
	</li>
{% endfor %}
</ul>
#}

